<% if user_signed_in? %>
  <li>
    <%= link_to "Hello, #{current_user.name}!", user_path(current_user) %>
  </li>
<% else %>
  <li>
  <%= link_to('Log in!', new_user_session_path)  %>
  </li>
<% end %>