<%- model_class = User -%>
<div class="page-header">
  <h1><%= @user.name %></h1>
</div>

<dl>
  <%= render 'user_show', user: @user %>
</dl>

<%= link_to "Back", :back, :class => 'btn btn-primary' %> 
