<div class="container">
  <div class="row">
    <div class="span4"> <%= image_tag 'logo.png', :class => "center-block" %></div><br />
    <div class="span4"><br />
      <% if current_user %>
         <%= link_to "Ask a Question!", new_question_path, class: "btn btn-info center-block" %>
      <% else %>
         <%= link_to "Sign up and Create Your Question!", new_user_registration_path, class: "btn btn-info center-block" %>
      <% end %>
    </div>
  </div>
</div>