<body class="welcome">
  <div class="container fluid full">
    <div class="row">
      <div class="span4"><%= image_tag 'logo.png', :class => "center-block welcome-image" %></div><br />
    </div>
  </div>  
  <div class="col-md-3 col-md-offset-6">
    <%= render 'welcome_actions' %>
  </div>
</body>  