<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert"></button>
    <%= message %>
  </div>
<% end %>

<script type="text/javascript">
  window.setTimeout(function() 
   {
  $(".alert").fadeTo(500, 0).slideUp(300, function()
  {
  $(this).remove();
  });
  }, 2000);
</script>
