<div class="container text-center">
  <p class="text">&copy; AskMe! 2016
  <i class="glyphicon glyphicon-heart" style="color:red"></i></p>
  <div class="social">
    <a href="https://www.facebook.com/Phaltoe" target="_blank"><i class="fa fa-facebook" style="color:#3B5998"></i></a>
    <a href="https://github.com/phaltoe/askme" target="_blank"><i class="fa fa-github" style="color:#333333"></i></a>
    <a href="https://twitter.com/HPedro20" target="_blank"><i class="fa fa-twitter" style="color:#33CCFF"></i></a>
    <a href="https://br.linkedin.com/in/phaltoe" target="_blank"><i class="fa fa-linkedin" style="color:#007bb5"></i></a>  
  </div>
</div>